<div *ngIf="loading" class="loading"></div>

<table class="table table-sm table-striped" *ngIf="emails && emails.length">
  <thead>
    <th>Data</th>
    <th>Assunto</th>
    <th>Destinatário</th>
    <th>Enviado</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let email of emails">
      <td>
        {{ email.createdAt | date:'dd/MM/yyyy' }}<br />
        {{ email.createdAt | date:'HH:mm:ss' }}
      </td>
      <td>{{ email.subject }}</td>
      <td>
        <ng-container *ngFor="let cc of email.cc">
          <ng-container *ngFor="let ccPart of cc.split(',')">
            {{ ccPart }}<br />
          </ng-container>
        </ng-container>
      </td>
      <td>
        <span *ngIf="email.sent" class="badge badge-success">ENVIADO</span>
        <span *ngIf="!email.sent" class="badge badge-secondary">PENDENTE</span>
      </td>
      <td class="col-buttons">
        <a [routerLink]="['./', email._id]" class="btn btn-sm btn-info text-white">Detalhes</a>
      </td>
    </tr>
  </tbody>
</table>