<a *ngIf="customerId && (!invoices || !invoices.length)" class="btn btn-primary text-white" (click)="generateFirstInvoice()">Gerar primeira fatura</a>
<table class="table table-sm table-striped" *ngIf="invoices && invoices.length">
  <thead>
    <th>Competência</th>
    <th>Vencimento</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoices">
      <td>{{ monthNames[invoice.month] }}/{{ invoice.year }}</td>
      <td>{{ invoice.dueDate | slice:0:10 | date:'shortDate' }}</td>
      <td>{{ invoice.amount | currency:'BRL' }}</td>
      <td class="text-right">
        <span *ngIf="!invoice.closed" class="badge badge-dark">ABERTA</span>
        <span *ngIf="invoice.paid" class="badge badge-success">PAGA</span>
        <ng-container *ngIf="invoice.closed && !invoice.paid">
          <span *ngIf="!isOverdue(invoice.dueDate)" class="badge badge-warning">AGUARDANDO PAGAMENTO</span>
          <span *ngIf="isOverdue(invoice.dueDate)" class="badge badge-danger">VENCIDA</span>
        </ng-container>
      </td>
      <td class="col-buttons">
        <a [routerLink]="['/admin', 'invoices', invoice._id, 'postings']" class="btn btn-sm btn-info text-white">Lançamentos</a>
        <a *ngIf="!invoice.closed" (click)="closeInvoice(invoice)" class="btn btn-sm btn-warning">Fechar</a>
      </td>
    </tr>
  </tbody>
</table>