<table class="table table-sm table-striped" *ngIf="postings && postings.length">
  <thead>
    <th>Data</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Tipo</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let posting of postings">
      <td>{{ posting.createdAt | date:'dd/MM' }}</td>
      <td>{{ posting.description }}</td>
      <td>{{ posting.amount | currency:'BRL' }}</td>
      <td>
        <span class="badge bg-{{ posting.type }}">{{ posting.type | uppercase }}</span>
      </td>
      <td class="col-buttons">
      </td>
    </tr>
  </tbody>
</table>