<!-- TODO: mover para CustomerComponent -->

<table class="table table-sm table-striped" *ngIf="customers && customers.length">
  <thead>
    <th>Nome:</th>
    <th>Vencimento:</th>
    <th>Telefones:</th>
    <th>E-mails:</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.responsibleName || customer.name }}</td>
      <td>{{ customer.invoiceMaturity }}</td>
      <td>{{ customer.phones.join(' / ') }}</td>
      <td>{{ customer.emails.join(' / ') }}</td>
      <td>
        <a [routerLink]="['./customer-invoices', customer._id]" class="btn btn-sm btn-info text-white">Invoices</a>
        <!-- <pre>{{ customer | json }}</pre> -->
      </td>
    </tr>
  </tbody>
</table>