<table class="table table-sm table-striped" *ngIf="services && services.length">
  <thead>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Recorrência</th>
    <th>Situação</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.description }}</td>
      <td>{{ service.amount | currency:'BRL' }}</td>
      <td>
        <span class="badge badge-warning">
          {{ service.recurrenceType | uppercase }}
          /
          {{ service.recurrenceInterval }}
        </span>
      </td>
      <td>
          <span *ngIf="!service.inactive" class="badge badge-success">ATIVO</span>
          <span *ngIf="service.inactive" class="badge badge-inactive">INATIVO</span>
      </td>
      <td class="col-buttons">
        <a [routerLink]="['/services', service._id]" class="btn btn-sm btn-info text-white">Detalhes</a>
      </td>
    </tr>
  </tbody>
</table>
